<h1>Dear <%= @patient.name %>,</h1>
  <p>I hope this email finds you well. please see attached invoice for your payment of hospital fee.</p>
  <p>Please don't hesitate to reach out, in case of any query.</p>
  <p>Thank you.</p>

  <h1>Paisa Bhar Do nhi to maar khaega<h1>