<div class="container-fluid">
   <h1>Invoices<h1>

    <%= button_to 'Create New Invoice', new_patient_invoice_path, method: :get, class: 'btn text- btn-lg custom-button',style: 'background-color: rgb(52, 131, 172);color: azure;' %>
    </div><br>
    <div class="row justify-content-md-center">
     <div class="col-6 mt-4 ">
     <div class="card text-dark mb-3 " style="max-width: 38rem; background-color: skyblue;">
  <% if @invoices.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Serial No</th>
          <th scope="col">Invoices</th>
          
       </tr>
      </thead>
      <tbody>
        <% @invoices.each_with_index do |invoice, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td>Rs <%= link_to invoice.amount, patient_invoice_path(@patient, invoice) %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="card-body">
      <p>No Invoices available.</p>
    </div>
  <% end %>
  </div>
  </div>
</div>


      
   

</div>