<h2>Unlock Your Account</h2>

<p>Hello <%= @user.username %>,</p>

<p>Your account has been locked due to multiple unsuccessful login attempts.</p>
<p>Please click the following link to unlock your account:</p>

<p><%= link_to 'Unlock Account', unlock_account_url(@user.unlock_token) %></p>

<p>If you did not request to unlock your account, please disregard this email.</p>

<p>Regards,</p>
<p>Your Application Team</p>