<h2>Forgot Password</h2>

<%= form_tag send_reset_password_instructions_path, method: :post do %>
  <div class="form-group">
    <%= label_tag :email, 'Email',class: 'required' %>
    <%= email_field_tag :email, nil, class: 'form-control', required: true %>
  </div>
  <br>
  <%= submit_tag 'Send Reset Instructions', class: 'btn btn-primary' %>
<% end %>