// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom-button , .card {
   
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .pagination-container .pagination li {
    margin:10px;
  }
  .pagination{
    font-size:large;
   
  }
  .custom-carousel-icon {
    background-color: #76c9e4; 
  }
  
  .custom-carousel-icon:hover {
    background-color: #70d7ec; 
  }
  
  .custom-form {
    background-color: #ebf4fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

.custom-label {
  font-size: 19px; 
}

.custom-select {
  font-size: 19px; 
}
